In [1]:
# Importing necessary libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
House_Rent=pd.read_csv('Cleaned_House_Rent.csv')

House_Rent

,Unnamed: 0,Posted On,"BHK(Bathroom, hall & Kitchen)",Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,House_Floor,Floor_Number
0,0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,Ground,2
1,1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,1,3
2,2,2022-05-16,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,1,3
3,3,2022-07-04,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,1,2
4,4,2022-05-09,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4737,4737,2022-05-18,2,15000,1000,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner,3,5
4738,4738,2022-05-15,3,29000,2000,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner,1,4
4739,4739,2022-07-10,3,35000,1750,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent,3,5
4740,4740,2022-07-06,3,45000,1500,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent,23,34
4741,4741,2022-05-04,2,15000,1000,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner,4,5

In [3]:
House_Rent.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4742 entries, 0 to 4741
Data columns (total 14 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Unnamed: 0                     4742 non-null   int64
 1   Posted On                      4742 non-null   object
 2   BHK(Bathroom, hall & Kitchen)  4742 non-null   int64
 3   Rent                           4742 non-null   int64
 4   Size                           4742 non-null   int64
 5   Area Type                      4742 non-null   object
 6   Area Locality                  4742 non-null   object
 7   City                           4742 non-null   object
 8   Furnishing Status              4742 non-null   object
 9   Tenant Preferred               4742 non-null   object
 10  Bathroom                       4742 non-null   int64
 11  Point of Contact               4742 non-null   object
 12  House_Floor                    4742 non-null   object
 13  Floor_Number                   4742 non-null   int64
dtypes: int64(6), object(8)
memory usage: 518.8+ KB

In [4]:
House_Rent=pd.read_csv('Cleaned_House_Rent.csv',index_col=0)

House_Rent

,Posted On,"BHK(Bathroom, hall & Kitchen)",Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,House_Floor,Floor_Number
0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,Ground,2
1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,1,3
2,2022-05-16,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,1,3
3,2022-07-04,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,1,2
4,2022-05-09,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4737,2022-05-18,2,15000,1000,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner,3,5
4738,2022-05-15,3,29000,2000,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner,1,4
4739,2022-07-10,3,35000,1750,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent,3,5
4740,2022-07-06,3,45000,1500,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent,23,34
4741,2022-05-04,2,15000,1000,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner,4,5

In [6]:
# Changing the data type to the correct data type

House_Rent['Posted On']=pd.to_datetime(House_Rent['Posted On'])

House_Rent

,Posted On,"BHK(Bathroom, hall & Kitchen)",Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,House_Floor,Floor_Number
0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,Ground,2
1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,1,3
2,2022-05-16,2,17000,1000,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,1,3
3,2022-07-04,2,10000,800,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,1,2
4,2022-05-09,2,7500,850,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4737,2022-05-18,2,15000,1000,Carpet Area,Bandam Kommu,Hyderabad,Semi-Furnished,Bachelors/Family,2,Contact Owner,3,5
4738,2022-05-15,3,29000,2000,Super Area,"Manikonda, Hyderabad",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Owner,1,4
4739,2022-07-10,3,35000,1750,Carpet Area,"Himayath Nagar, NH 7",Hyderabad,Semi-Furnished,Bachelors/Family,3,Contact Agent,3,5
4740,2022-07-06,3,45000,1500,Carpet Area,Gachibowli,Hyderabad,Semi-Furnished,Family,2,Contact Agent,23,34
4741,2022-05-04,2,15000,1000,Carpet Area,Suchitra Circle,Hyderabad,Unfurnished,Bachelors,2,Contact Owner,4,5

In [7]:
House_Rent.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4742 entries, 0 to 4741
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Posted On                      4742 non-null   datetime64[ns]
 1   BHK(Bathroom, hall & Kitchen)  4742 non-null   int64
 2   Rent                           4742 non-null   int64
 3   Size                           4742 non-null   int64
 4   Area Type                      4742 non-null   object
 5   Area Locality                  4742 non-null   object
 6   City                           4742 non-null   object
 7   Furnishing Status              4742 non-null   object
 8   Tenant Preferred               4742 non-null   object
 9   Bathroom                       4742 non-null   int64
 10  Point of Contact               4742 non-null   object
 11  House_Floor                    4742 non-null   object
 12  Floor_Number                   4742 non-null   int64
dtypes: datetime64[ns](1), int64(5), object(7)
memory usage: 518.7+ KB

In [8]:
# Time Series Analysis
House_Rent['Year']=House_Rent['Posted On'].dt.year
House_Rent['Month']=House_Rent['Posted On'].dt.month

In [9]:
House_Rent.head(2)

,Posted On,"BHK(Bathroom, hall & Kitchen)",Rent,Size,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,House_Floor,Floor_Number,Year,Month
0,2022-05-18,2,10000,1100,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,Ground,2,2022,5
1,2022-05-13,2,20000,800,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,1,3,2022,5

In [ ]:
Monthly_Avg_Rent=House_Rent['Rent'].resample('M').sum()


sns.lineplot(data=House_Rent,y='Rent',x='Year')
plt.figure(figsize=(12,6))
plt.plot(Monthly_Avg_Rent,marker='o')
plt.title('Overall Monthly Rent')
plt.xlabel('Date')
plt.ylabel('Average Rent(All Cities)')
plt.show()